Database dirgram = Done
Class dirgram = Done
Website layout style guide = Done
Sudo Code = Done
Flow diagram for each function or web page that needs to do something = Done

Windows Service Connection to check if the website is online if it is not use a boolean to return a true or false, if it is false it will default to the offline pages.