@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="row" style="justify-content: center;">
    <div class="box-shadow3">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

            <h1 class="text-center">@ViewData["Title"]<br /> Create a new account.</h1>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.FirstName" class="form-control" aria-required="true" />
                <label asp-for="Input.FirstName"></label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.LastName" class="form-control form-control-sm" aria-required="true" />
                <label asp-for="Input.LastName"></label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <select id="country" class="form-control" asp-for="Input.Country">
                    <option value="au">Australia</option>
                    <option value="nz">New Zealand</option>
                    <option value="gb">United Kingdom</option>
                    <option value="us">United States</option>
                    <option value="ca">Canada</option>
                </select>
                <label for="country">Country</label>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Address" class="form-control" aria-required="true" />
                <label asp-for="Input.Address"></label>
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.PhoneNumber" class="form-control" aria-required="true" />
                <label asp-for="Input.PhoneNumber"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.PetName" class="form-control" aria-required="true" />
                <label asp-for="Input.PetName"></label>
                <span asp-validation-for="Input.PetName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.PetBreed" id="trial" class="form-control" aria-required="true" />
                <label asp-for="Input.PetBreed"></label>
                <span asp-validation-for="Input.PetBreed" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.PetAge" class="form-control" aria-required="true" />
                <label asp-for="Input.PetAge"></label>
                <span asp-validation-for="Input.PetAge" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <select asp-for="Input.PetGender"
                        asp-items="@(Model.Gender)"
                        class="form-control">
                </select>
                <label asp-for="Input.PetGender">Pet Gender</label>
                <span asp-validation-for="Input.PetGender" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <select asp-for="Input.UserRole"
                        asp-items="@(Model.Roles)" required
                        class="form-control">
                </select>
                <label asp-for="Input.UserRole">Dog or Cat Person?</label>
                <span asp-validation-for="Input.UserRole" class="text-danger"></span>
            </div>






            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
        <br />
        <br />
        <br />
    </div>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyCWvRJT3d4gfW68LnqH2WPQF56LtAnPD1M"></script>
    <script type="text/javascript">

        google.maps.event.addDomListener(window, 'load', function () {
            var options = {
                types: ['(cities)'],
                componentRestrictions: { country: 'au'}
            };
            
            var input = document.getElementById('Address');
            var places = new google.maps.places.Autocomplete(input, options);

        });

    </script>

}
