@model PetImageTablesVM

@{
    ViewData["Title"] = "Create";
}

<div class="row" style="justify-content:center">
    <div class="box-shadow2">

            <h2 class="text-center">Upload Furry Friend</h2>
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ImageTitle" class="control-label"></label>
                <input asp-for="ImageTitle" class="form-control" />
                <span asp-validation-for="ImageTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageCaption" class="control-label"></label>
                <input asp-for="ImageCaption" class="form-control" />
                <span asp-validation-for="ImageCaption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PetImage" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="PetImage" class="form-control" id="customFile" />
                    <label class="custom-file-label" for="customFile"></label>
                </div>
                <span asp-validation-for="PetImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-primary" />
                <a asp-action="Index" type="button" class="btn btn-danger">Back</a>
            </div>
        </form>
    </div>
</div>
