<h1 style="text-align: center;">This is Our Location</h1>

<div class="location-container" style="margin: 1rem auto; width: 60%;">
  <p style="font-size: 1.125rem; line-height: 1.5; margin-bottom: 1rem;">We organize pet meetups for animal lovers and their furry friends. Our business operates from 9am to 5pm, Monday to Friday. Come and join us for some pawsome fun!</p>
  <p style="font-size: 1.125rem; line-height: 1.5; margin-bottom: 1rem;">You can reach us at: <a href="tel:555-555-5555" style="color: blue;">555-555-5555</a></p>
  <p style="font-size: 1.125rem; line-height: 1.5; margin-bottom: 1rem;">Our business hours are:</p>
  <ul style="font-size: 1.125rem; line-height: 1.5; margin-bottom: 1rem;">
    <li>Monday to Friday: 9am to 5pm</li>
  </ul>
  <div id="map" style="text-align: center;">
        <img src="https://www.seafordcentral.com.au/images/2019-11-25_200604.jpg" alt="Map of Our Location" style="max-width: 100%;">
  </div>
</div>