@{
    ViewData["Title"] = "Our Location";
}

<div class="box-shadow4">
<div class="container text-center">
    <div class="row">
        <div class="col">
            <iframe width="600"
                    height="450"
                    style="border:0"
                    loading="lazy"
                    allowfullscreen
                    referrerpolicy="no-referrer-when-downgrade"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyByZDtJh4Ev4YVodMO6UjWAJX7sGSIGZzc
    &q=Santos,Adelaide+SA">
            </iframe>
        </div>
        <div class="col">
            <h3 class="card-title">Our Location</h3>
            <p class="card-text">We organize pet meetups for animal lovers and their furry friends.</p>
            <p class="card-text">Our business operates from 9am to 5pm, Monday to Friday.</p>
            <p class="card-text">You can reach us at: 555-555-5555</p>
            <p class="card-text">Come and join us for some pawsome fun.</p>
        </div>
    </div>
    </div>
</div>